html
	head
		script(type="text/javascript",src="/scripts/jquery-2.0.2.min.js")
	body
		form(action="/login",method="post")
			input(type="text",name="username")
			input(type="text",name="password")
			input(type="submit",name="btnSubmit")
