script(type="text/javascript" src="./scripts/jquery-2.0.2.min.js")
script(type="text/javascript" src="./scripts/bootstrap.min.js")
script(type="text/javascript" src="./scripts/Library/underscore-min.js")
script(type="text/javascript" src="./scripts/Library/backbone-min.js")
script(type="text/javascript" src="./scripts/Library/backbone-nested.js")
script(type="text/javascript" src="./scripts/Library/handlebars-1.3.js")
script(type="text/javascript" src="./scripts/Library/moment.js")
script(type="text/javascript" src="./scripts/Library/init.js")
script(type="text/javascript" src="./scripts/Utils/swag-handlebar-helpers.js")
script(type="text/javascript" src="./scripts/Utils/handlebar-helpers.js")