link(rel='stylesheet', type='text/css', href='/css/bootstrap.css')
link(rel='stylesheet', type='text/css', href='/css/bootstrap-theme.css')
link(rel='stylesheet', type='text/css', href='/scripts/Plugins/jquery-ui/jquery-ui.css')
link(rel='stylesheet', type='text/css', href='/css/date-picker.css')
link(rel='stylesheet', type='text/css', href='/scripts/Plugins/picEdit/css/picedit.css')
link(rel='stylesheet', type='text/css', href='/scripts/Plugins/select2/select2-bootstrap.css')
link(rel='stylesheet', type='text/css', href='/scripts/Plugins/select2/select2.css')
link(rel='stylesheet', type='text/css', href='/css/geoLocation.css')
link(rel='stylesheet', type='text/css', href='/scripts/Plugins/bootstrap-fileinput/bootstrap-fileinput.css')
link(rel='stylesheet', type='text/css', href='/css/site.css')
